[submodule "quest-1-initiation-into-the-arcane-arts-CleaRamos"]
	path = quest-1-initiation-into-the-arcane-arts-CleaRamos
	url = https://github.com/CleaRamos/quest-1-initiation-into-the-arcane-arts-CleaRamos.git
